<h1>Abuela Sorda</h1>

<p>Dí algo a la abuela: </p>
<form class="" action="/respuesta" method="post">
  <input type="text" name="pregunta" value="">
  <input type="submit" name="" value="Dilo!">
</form>
